.wrapper-sign-in {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: min(420px, 100%);
  height: min(560px, 100dvh);
  box-shadow: 3px 4px 15px 0px #8c8c8c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  align-items: center;
  position: relative;
  background-color: #fff;
  opacity: 0.65;
}

.loader {
  display: inline-block;
  position: absolute;
  top: 35%;
  width: 80px;
  height: 80px;
  z-index: 15;

}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c3c3c33b;
  cursor: not-allowed;
  z-index: 6;
}

.form-wrapper div[class^="decorator-"] {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.decorator-1 {
  background-color: #00d5a7b7;
  width: 240px;
  height: 240px;
  transform: translate(-70px, 85px);
  animation: show 1.5s;
}

.decorator-1.hide {
  animation: hide-1 1.5s;
}

.decorator-2 {
  background-color: #00d5a7a8;
  width: 260px;
  height: 260px;
  transform: translate(300px, 75px);
  animation: show 1.2s;
}

.decorator-2.hide {
  animation: hide-2 1.5s .06s;
}

.decorator-3 {
  background-color: #00d5a7ce;
  width: 200px;
  height: 200px;
  transform: translate(150px, 90px);
  animation: show 1s;
}

.decorator-3.scaled {
  z-index: 7;
  animation: scaleCircle 1.5s forwards;
}

.decorator-4 {
  background-color: #00d5a797;
  width: 110px;
  height: 110px;
  transform: translate(110px, -40px);
  animation: show 1.4s;
}

.decorator-4.hide {
  animation: hide-4 1.45s .02s;
}

.form-wrapper h2 {
  font-size: 36px;
  font-weight: 500;
  margin: -1.5rem 0;
  color: var(--darkGreen);
}

.form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: transparent;
  padding: 4rem 3rem 2rem;
  position: relative;
}

.form-wrapper form div.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper form div.form-control .pass-label-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrapper form div.form-control .pass-label-wrapper a {
  text-decoration: none;
  color: var(--darkGray);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.form-wrapper form div.form-control .pass-label-wrapper a:hover {
  text-decoration: underline;
  color: #000000cc;
}

.form-wrapper form div.form-control label {
  font-size: 0.7rem;
  color: var(--darkGray);
  text-transform: uppercase;
}


.form-wrapper form div.form-control select.untouched {
  color: #757575;
}

.form-wrapper form div.form-control input,
.form-wrapper form div.form-control select {
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--darkGray);
  font-size: 16px;
  line-height: 1.7rem;
  cursor: text;
  background-color: transparent;
}

.form-wrapper form div.form-control input option,
.form-wrapper form div.form-control select option {
  color: var(--darkGray);
  font-size: 16px;
}

.form-wrapper form div:has(input:not([type="submit"]).invalid) input:not([type="submit"]),
.form-wrapper form div:has(select.invalid) input:not([type="submit"]) {
  border-bottom: 1px solid var(--errorColor);
}

.form-wrapper form div:has(input:not([type="submit"]).invalid) select,
.form-wrapper form div:has(select.invalid) select {
  border-bottom: 1px solid var(--errorColor);
}

.form-wrapper form div:has(input:not([type="submit"]).invalid) label,
.form-wrapper form div:has(select.invalid) label {
  color: var(--errorColor);
  animation: shake 0.5s;
}

.checkbox-label {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #7a7e81;
}

.checkbox-label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid var(--darkGray);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

.checkbox-label input[type="checkbox"]::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--darkGreen);
  background-color: var(--darkGreen);
  border-radius: 0.1rem;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox-label input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.submit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #b4b2b2;
  gap: 1.1rem;
}

.submit-wrapper input[type='submit'] {
  background-color: var(--darkGreen);
  border: 0;
  outline: 0;
  background: rgb(84, 224, 194);
  border-radius: 0.9rem;
  transition: all ease-in-out 0.2s;
  color: #fff;
  font-size: 16px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.submit-wrapper input[type='submit']:disabled {
  background-color: #bababa;
  cursor: not-allowed;
}

.submit-wrapper input[type='submit']:not(:disabled):hover {
  background: rgba(144, 224, 207);
  background: linear-gradient(90deg,
      rgba(0, 185, 144, 1) 0%,
      rgba(144, 224, 207, 1) 100%);
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 1.5s infinite;
  box-shadow: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.submit-wrapper a {
  font-weight: 500;
  color: var(--darkGreen);
  text-decoration: 0;
}

.submit-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper form span.error-msg {
  font-size: 11px;
  color: var(--errorColor);
}

.info {
  z-index: 5;
}

.info span {
  color: #fff;
  font-size: 14px;
}

.info a {
  color: rgb(0, 120, 68);
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }
}

@keyframes show {
  0% {
    scale: 0.01;
  }

  55% {
    scale: 1.3;
  }

  100% {
    scale: 1;
  }
}

@keyframes hide-1 {
  0% {
    transform: translate(-70px, 85px);
  }

  25% {
    transform: translate(-70px, 60px);
  }

  100% {
    transform: translate(-70px, 240px);
  }
}

@keyframes hide-2 {
  0% {
    transform: translate(300px, 75px);
  }

  35% {
    transform: translate(300px, 55px);
  }

  100% {
    transform: translate(300px, 260px);
  }
}

@keyframes hide-4 {
  0% {
    transform: translate(110px, -40px);
  }

  35% {
    transform: translate(110px, -50px);
  }

  100% {
    transform: translate(110px, 160px);
  }
}

@keyframes scaleCircle {
  0% {
    background-color: #00d5a7ce;
    transform: translate(150px, 90px);
    scale: 1;
  }

  100% {
    background-color: #00d5a7;
    transform: translate(20px, -40px);
    scale: 4;
  }
}

@keyframes lds-ring {
  0% {
    z-index: 3;
    transform: rotate(0deg);
  }

  100% {
    z-index: 20;
    transform: rotate(360deg);
  }
}